<div class="container">
  <div class="row mt-5">
    <div class="col">
      <div class="d-flex justify-content-between">
        <h2>My <%= @my_db_schemas.size %> DB schemas</h2>
        <%= link_to "Add a schema", new_db_schema_path, class: "btn btn-primary" %>
      </div>
      <ul>
        <% @my_db_schemas.each do |db_schema| %>
          <li>
            <%= link_to db_schema.name, db_schema_path(db_schema) %>
            <br>
            <p><%= db_schema_sharings_url(db_schema, token: db_schema.token) %></p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

    <div class="row mt-5">
      <div class="col">
        <div class="d-flex justify-content-between">
          <h2>Contributing on <%= @db_schema_sharing.size %> DB schemas</h2>
        </div>
        <ul>
          <% @db_schema_sharing.each do |db_schema| %>
            <li>
              <%= link_to db_schema.name, db_schema_path(db_schema) %>
              <br>
              <p><%= db_schema_sharings_url(db_schema, token: db_schema.token) %></p>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
