<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "wwwsqldesigner" %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag "wwwsqldesigner/wwwsqldesigner_packed" %>
    <%= yield :after_js %>
  </body>
</html>
